<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>习近平</string>
		<key>info</key>
		<string>阅兵来不来啊？</string>
		<key>time</key>
		<string>昨天</string>
		<key>head</key>
		<string>10_1.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>范冰冰</string>
		<key>info</key>
		<string>晚上有空吗？</string>
		<key>time</key>
		<string>10分钟前</string>
		<key>head</key>
		<string>10_2.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>奥巴马</string>
		<key>info</key>
		<string>我和金三胖玩的好嗨</string>
		<key>time</key>
		<string>15/8/14</string>
		<key>head</key>
		<string>10_3.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>三胖</string>
		<key>info</key>
		<string>别听巴马胡说</string>
		<key>time</key>
		<string>15/8/25</string>
		<key>head</key>
		<string>10_4.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>普京</string>
		<key>info</key>
		<string>小京京，(づ￣ 3￣)づ</string>
		<key>time</key>
		<string>3分钟前</string>
		<key>head</key>
		<string>10_5.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QQ邮件提醒</string>
		<key>info</key>
		<string>您有新邮件</string>
		<key>time</key>
		<string>刚刚</string>
		<key>head</key>
		<string>10_6.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>一声问候</string>
		<key>info</key>
		<string>朋友生日快到了</string>
		<key>time</key>
		<string>刚刚</string>
		<key>head</key>
		<string>10_7.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>QQ音乐</string>
		<key>info</key>
		<string>中国好声音第四季</string>
		<key>time</key>
		<string>5天前</string>
		<key>head</key>
		<string>10_8.jpg</string>
	</dict>
</array>
</plist>
